// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

#game {
  margin: 16px;
}

.container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

li {
  height: 50px;
  width: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  list-style-type: none;
  background-color: rgb(36, 118, 210);
  color: white;
  margin: 16px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 8px;
}
